.card {
  min-height: 42vh;
  color: white;
  max-height: max-content;
  min-width: 17%;
  max-width: 17%;
  /* margin: 0 1.5%; */
  margin-bottom: 35px;
  overflow: hidden;
  position: relative;
}

.card__menu {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.76);
  border-radius: 90px;
  margin: 7px;
}

.card__img {
  min-height: 250px;
  max-height: 250px;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 0 12px 12px 0;
}

.card__img img {
  min-height: 250px;
  max-height: 250px;
  min-width: 100%;
  max-width: 100%;
}

.card__name {
  font-size: large;
  width: 100%;
  max-height: 25px;
  /* min-height: 51px; */
  overflow: hidden;
  font-weight: 600;
}

.card__author {
  opacity: 80%;
  height: 25px;
  overflow: hidden;
}

.skeletons {
  background-color: rgba(0, 0, 0, 0.081);
  min-height: 42vh;
  max-height: 42vh;
  min-width: 17%;
  max-width: 17%;
  margin-bottom: 35px;
  overflow: hidden;
}

@media only screen and (max-width: 550px) {
  .card {
    min-height: 38vh;
    max-height: fit-content;
    min-width: 48%;
    max-width: 48%;
    margin-bottom: 5px
  }

  .card__img {
    min-height: 210px;
    max-height: 210px;
  }

  .skeletons {
    /* background-color: black; */
    min-height: 36vh;
    max-height: 36vh;
    min-width: 48%;
    max-width: 48%;
    margin-bottom: 5px
  }
}