.main{
min-height: 100vh;
}
.booksContainer{
  width: 85%;
  margin: 0 auto;
}
.books{
  padding-bottom: 50px;
}
.booksHeading{
  color: white;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 10px;
}
.empty{
  color: rgba(255, 255, 255, 0.731);
  text-align: center;
}
.cardContainer{
  display: flex;
  width: 100%;
  gap: 3.75%;
  flex-wrap: wrap;
}
@media only screen and (max-width: 550px){
  .cardContainer{
    gap: 4%;
  }
}