.main{
  margin-top: 90px;
  color: white;
}
.booksContainer{
  width: 85%;
  margin: 0 auto;
}
.books{
  padding-bottom: 50px;
}
.booksHeading{
  color: white;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 10px;
}
.cardContainer{
  display: flex;
  width: 100%;
  gap :6.6%;
  flex-wrap: wrap;
}